

/*LOADING*/

.full-spread{
	top:0;
	bottom:0;
	position:fixed;
	z-index:50000;	
	width:100vw;
	height:100vh;
	background:var(--prim-red);
	
}

.animate-this-box{
	position:absolute;
	width:100px;
	height:100px;
	

	left:50%;
	top:50%;
	transform:translate(-50%,-50%) rotate(45deg);
	animation: expand 1s linear infinite;
}

.animate-this-box span{
	position:absolute;
	background:var(--prim-white);
	width:50px;
	height:50px;
	animation: spin 1s linear infinite;
}
.animate-this-box span:nth-child(1){
	left:0;
	top:0;


}
.animate-this-box span:nth-child(2){
	right:0;
	top:0;

}
.animate-this-box span:nth-child(3){
	left:0;
	bottom:0;

}
.animate-this-box span:nth-child(4){
	right:0;
	bottom:0;

}

@keyframes expand{
	
	0%{height:100px;
	   width:100px;}

	50%{height:150px;
	   width:150px;}
	   
	100%{height:100px;
width:100px;}}

@keyframes spin{
	
	0%{transform: rotate(0deg);}
	100%{transform: rotate(90deg)}


}



:root{
	--blackish:#151617;
}html {
  scroll-behavior: smooth;
}.whatever{
	transition: 1s ease;
}.whatever:hover{
	transform:scale(1.05);
	
}.h-100{
	height:100%;
}.h-85{
	height:85%;
}
.bg-blackish{
	background:var(--blackish);
}.f-bold{
	font-weight:bold;
}
.stretch-perc{
	width:100%;
	height:100%;
}.bg-white{
	background:white;
}.m-0{
	margin:0;
}.p-0{
	padding:0;
}.pr-75{
	padding-right:125px;
}.w-100{
	width:100%
}.w-95{
	width:95%;
}.h-95{
	height:95%;
}.h-min-200{
	min-height:200px
}.position-relative{
	position:relative;
}.position-absolute{
	position:absolute;
}.f-robot{
	font-family: 'Roboto', sans-serif;
}.f-mont{
	font-family: 'Montserrat', sans-serif;
}.vanish{
	display:none;
}.t{
	 margin: 0px;
	padding:0px;
	float: left;
	width:100%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}.p-2{
	padding:10px;
}.px-4{
	padding-left:20px;padding-right:20px
}.py-75{
	padding-top:75px;
	padding-bottom:75px;
}.flex-w{
	display:flex;
	flex-wrap:wrap;
}

/* new content */
.scale-in{
	transition:500ms ease-out;
	transform-origin:center;
	transform:scale(0);
}.scale-out{
	transition:500ms ease-out;
	transform-origin:center;
	transform:scale(1);
}

/*Underline effect*/
.underline-oh-child{
		position:relative;
}
.underline-oh-child::after{
	content:"";
	position:absolute;
	left:0;
	bottom:0;
	width:0%;
	height:4px;
	background:#7a00f0;
	transition:500ms ease;
}

.underline-oh-parent:hover .underline-oh-child::after{
	width:100%;
}

/*Underline effect*/
.full-stretch{
	width:100%;
	min-height:500px
}.center-abs{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}.logo-btn{
	cursor:pointer;
	transition:250ms ease;
}.logo-btn:hover{
	transform:translate(-50%,-50%) scale(1.1);
}
.position-absolute{
	position:absolute;
}
.carousel{
	height:600px;

}
.zoh{
	transition:250ms linear;
	transform:scale(1.35);
}
.zoh:hover{
	transform:scale(1.45);
	
}.l{
	font-family: 'Lato', sans-serif;
}

.d-flex-center{
	display:flex;
	justify-content:center;
	align-items:center;
}.d-flex-center-c{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}.d-flex-space-around{
	justify-content:space-around;
	
}.d-flex-start{
	display:flex;

	align-items:center;

}
/* user card */
.brdr-smooth{
	border-radius:5px;
}
.tn-sqr{
	transition: 500ms ease;
	height:25px;
	width:25px;

}.sq-2{
	transition: 500ms ease 250ms;
}.sq-3{
	transition: 500ms ease 500ms;
}
.usr-crd{
	overflow-y:hidden;
	max-height:325px;
}
.usr-crd:hover .tn-sqr{
	margin-top:0;
}
.tn-sqr{
		margin-top:500px;
}
.media-vw-about-text{
		width:60vw;
	}
.media-height-500-1000{
	height:500px;
}.media-align-items-center{
	align-items:start;
}
@media only screen and (max-width: 1000px) {

	.media-height-500-1000{
		height:600px
	}
}
@media only screen and (max-width: 800px) {

	.media-height-500-1000{
		height:700px
	}
}	
.media-h-900{
	height:450px;
}
@media only screen and (max-width: 576px) {
	.media-h-450{
		height:450px;
	}
	.media-h-900{
		height:900px;
	}
	q{
		padding-top:0;
	}.media-height-500-100{
	height:1000px;
}
	.feature-text{
		margin-top:10px;
		margin-bottom:10px;
	}
	.py-75{
		padding-top:25px;
		padding-bottom:25px;
	}
	.media-height-500-1000{
		height:auto;
	}
	
	.media-vw-about-text{
		width:95vw;
	}
	
	.media-center-text{
		text-align:center;
	}.media-p-0{
		padding:0;
	}.media-mx-auto{
		margin-left:auto;
		margin-right:auto;
	}.media-align-items-center{
		align-items:center;
	}
}	

/* blobs */

.bleeb-1{
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:75%;
	height:75%;
	border-radius: 70% 60% 80% 40% ;
}

/* UI mobile thing */
.mob-parent{
	width:225px;
	height:375px;
	border-radius:5%;
}
.mob-screen{
	left:50%;
	top:50%;
	transform:translate( -50%, -55%);
	border-radius:inherit;
}
/* flip cards */
.flip-card-top,.flip-card-bottom{
	transition:1s linear;
	backface-visibility:hidden;
}
.flip-card-top{

	transform: perspective(1200px) rotateY(0deg);
}
.flip-card-bottom{
	transform:perspective(1200px) rotateY(180deg);
}
.flip-card:hover .flip-card-top{

	transform: perspective(1200px) rotateY(-180deg);
}
.flip-card:hover .flip-card-bottom{
	transform:perspective(1200px) rotateY(0deg);
}


/* features */
.feature-text{
	transform:scaleX(0);
	transition:750ms ease;
	transform-origin:left;
}
.feature-button:hover ~.feature-text{
	transform:scaleX(1);
}.feature-button:target ~.feature-text{
	transform:scaleX(1);
}

@font-face { font-family: KG; src: url('KGHAPPY.TTF'); }


/* GRADIENT BACKGROUND */

#banner{
		background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}.bg-gradient-animated{
		background: linear-gradient(-45deg, #36D1DC, #5B86E5);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}.bg-gradient-animated-red{
		background: linear-gradient(-45deg,#FF416C,#FF4B2B);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}.bg-gradient-animated-white{
		background: linear-gradient( -45deg , #FFEFBA, #FFFFFF);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 8s ease infinite;
}.bg-gradient-animated-blue{
		background: linear-gradient(to right, #8e2de2, #4a00e0);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.bg-gradient-animated-cyan{
		background: linear-gradient(to right, #56ab2f, #a8e063);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}.bg-gradient-animated-yellow{
		background: linear-gradient(-45deg, #3494E6,#EC6EAD);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 10s ease infinite;
}.circle-bg{
	height:150px;
	width:150px;
	border-radius:50%;
	background:black;
	transform:scale(0);
	opacity:0;
	animation: expand-vanish 10s ease infinite;
	
}.cbg-2{
	animation-delay:2s;
}.cbg-3{
animation-delay:4s;}
.cbg-4{
	animation-delay:6s;
}.cbg-5{
	animation-delay:8s;
}.animation-delay-1{
	transition-delay:200ms;
}.animation-delay-2{
	transition-delay:400ms;
}.animation-delay-3{
	transition-delay:6000ms;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes breathe{
	0% {
		transform:scale(1);
	}
	50% {
		transform:scale(1.03)
	}
	100% {
		transform:scale(1)
	}
}

@keyframes expand-vanish{
	0%{
		transform:translate(-50%,-50%) scale(0);
		opacity:1;

	}	
	50%{
		transform:translate(-50%,-50%) scale(2);
		opacity:0.01;
	}


	}
	100%{
		transform:translate(-50%,-50%) scale(3);
		opacity:0;
	}
}


